@import "tailwindcss";

@keyframes gradient-flow {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}
.animate-gradient {
  animation: gradient-flow 3s linear infinite;
  background-size: 200% auto;
}

@keyframes shimmer {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}
.animate-shimmer {
  background-size: 200% auto;
  animation: shimmer 4s linear infinite;
}